# --- Homelab (Linux) Overrides ---------------------------------------------
VAULTWARDEN_DOMAIN=vault.cult-of-joey.com
VAULTWARDEN_ADMIN_TOKEN=super-secret-token
VAULTWARDEN_SIGNUPS_ALLOWED=false
VAULTWARDEN_LOG_LEVEL=info

BOOKSTACK_PUID=1000
BOOKSTACK_PGID=1000
BOOKSTACK_DOMAIN=notes.cult-of-joey.com
BOOKSTACK_DB_NAME=bookstack
BOOKSTACK_DB_USER=bookstack
BOOKSTACK_DB_PASSWORD=bookstack_password

AUXILIARY_PUID=1000
AUXILIARY_PGID=1000
AUXILIARY_DOMAIN=aux.cult-of-joey.com

CF_TUNNEL_TOKEN_LINUX=
TIMEZONE=America/Chicago
